In [35]:
import requests
import urllib
page = requests.get("https://info.gesundheitsministerium.at/data/Trend.js")
page.content
requests.get("https://info.gesundheitsministerium.at/data/Trend.js")

<http.client.HTTPResponse object at 0x11245b990>

In [22]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

In [41]:
a = [item for item in soup.children]
jsonStr = a[0].split("var dpTrend = ")[1].split(";")[0]

In [81]:
import json
jsonData = json.loads(jsonStr)
print(jsonData)

[{'label': '05.03', 'y': 58}, {'label': '06.03', 'y': 79}, {'label': '07.03', 'y': 96}, {'label': '08.03', 'y': 127}, {'label': '09.03', 'y': 152}, {'label': '10.03', 'y': 217}, {'label': '11.03', 'y': 323}, {'label': '12.03', 'y': 451}, {'label': '13.03', 'y': 641}, {'label': '14.03', 'y': 825}, {'label': '15.03', 'y': 1034}, {'label': '16.03', 'y': 1321}, {'label': '17.03', 'y': 1670}, {'label': '18.03', 'y': 2094}, {'label': '19.03', 'y': 2566}, {'label': '20.03', 'y': 3103}, {'label': '21.03', 'y': 3549}, {'label': '22.03', 'y': 4183}, {'label': '23.03', 'y': 4996}, {'label': '24.03', 'y': 5794}, {'label': '25.03', 'y': 6447}, {'label': '26.03', 'y': 7406}, {'label': '27.03', 'y': 8201}, {'label': '28.03', 'y': 8746}, {'label': '29.03', 'y': 9196}, {'label': '30.03', 'y': 9880}, {'label': '31.03', 'y': 10397}, {'label': '01.04', 'y': 10840}, {'label': '02.04', 'y': 11153}]

In [98]:
import pandas as pd
from dateutil import parser
format_str = '%d.%m' # The format
datetime_obj = datetime.strptime("05.03", format_str)
print(datetime_obj.date())

1900-03-05

In [101]:
df = pd.DataFrame.from_dict(jsonData)
df["date"] = df["label"]
df["cases"] = df["y"]
del df["label"]
del df["y"]
df["date"] = df["date"]+".2020"

In [102]:
df.head(5)

         date  cases
0  05.03.2020     58
1  06.03.2020     79
2  07.03.2020     96
3  08.03.2020    127
4  09.03.2020    152

In [103]:
df["date"]

0     05.03.2020
1     06.03.2020
2     07.03.2020
3     08.03.2020
4     09.03.2020
5     10.03.2020
6     11.03.2020
7     12.03.2020
8     13.03.2020
9     14.03.2020
10    15.03.2020
11    16.03.2020
12    17.03.2020
13    18.03.2020
14    19.03.2020
15    20.03.2020
16    21.03.2020
17    22.03.2020
18    23.03.2020
19    24.03.2020
20    25.03.2020
21    26.03.2020
22    27.03.2020
23    28.03.2020
24    29.03.2020
25    30.03.2020
26    31.03.2020
27    01.04.2020
28    02.04.2020
Name: date, dtype: object

In [104]:
df.to_csv("cleaned_data.csv",index = False)