In [159]:
import requests
import urllib
import datetime
from datetime import timedelta
import io
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
req = requests.get("https://simple.wikipedia.org/wiki/List_of_European_countries")
soup = BeautifulSoup(req.content, 'html.parser')
european_countries = []
for ele in soup.findAll("td"):
    if "title=" in str(ele).strip() and ele.text.startswith(" "):
        if "[" in ele.text.strip():
            european_countries.append(ele.text[0:len(ele.text)-5].strip())
        else: 
            european_countries.append(ele.text.lstrip().replace("\n",""))

In [4]:
from datetime import date
today = date.today()
csvname = today.strftime('%m-%d-%Y')+".csv"
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"+csvname

In [5]:
req = requests.get(url)
if(req.status_code == 404):
    today = today - timedelta(days = 1)
    csvname = today.strftime('%m-%d-%Y')+".csv"
    url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"+csvname
    req = requests.get(url)

In [6]:
req = requests.get(url)
if(req.status_code == 404):
    today = today - timedelta(days = 1)
    csvname = today.strftime('%m-%d-%Y')+".csv"
    url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"+csvname
    req = requests.get(url)

In [98]:
df = pd.read_csv(url)
df_cleaned = df[df["Province_State"].isnull()]
df_cleaned = df_cleaned[["Country_Region","Confirmed","Deaths","Lat","Long_"]]

In [99]:
europe = df_cleaned[df_cleaned["Country_Region"].isin(european_countries)]

In [212]:
europe.to_csv("data_europe.csv",index = False)

In [216]:
confirmed = pd.read_csv(
    "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
death = pd.read_csv(
    "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")

In [246]:
name = today.strftime('X%m/X%d/%y').replace('X0', '')
confirmed = confirmed[confirmed["Province/State"].isnull()]
confirmed = confirmed[confirmed["Country/Region"].isin(european_countries)]
death = death[death["Province/State"].isnull()]
death = death[death["Country/Region"].isin(european_countries)]

'4/4/20'

In [218]:
confirmed.nlargest(5,confirmed.columns[-1]).to_csv("act_confirmed_europe.csv",index=False)
death.nlargest(5,death.columns[-1]).to_csv("act_death_europe.csv",index=False)

In [254]:
ratio=pd.merge(pd.DataFrame(confirmed[[name,"Country/Region"]]),
pd.DataFrame(death[["Country/Region"],name]),on="Country/Region")
ratio=

    4/4/20_x          Country/Region  4/4/20_y
0        333                 Albania        20
1        466                 Andorra        17
2      11781                 Austria       186
3        440                 Belarus         5
4      18431                 Belgium      1283
5        624  Bosnia and Herzegovina        21
6        503                Bulgaria        17
7       1126                 Croatia        12
8        426                  Cyprus        11
9       4077                 Denmark       161
10      1039                 Estonia        13
11      1882                 Finland        25
12     89953                  France      7560
13     96092                 Germany      1444
14      1673                  Greece        68
15       678                 Hungary        32
16      1417                 Iceland         4
17      4604                 Ireland       137
18    124632                   Italy     15362
19       509                  Latvia         1
20        77           Liechtenstein         1
21       771               Lithuania        11
22      2729              Luxembourg        31
23       213                   Malta         0
24       752                 Moldova        12
25        66                  Monaco         1
26       201              Montenegro         2
27     16627             Netherlands      1651
28       483         North Macedonia        17
29      5550                  Norway        62
30      3627                  Poland        79
31     10524                Portugal       266
32      3613                 Romania       146
33      4731                  Russia        43
34       259              San Marino        32
35      1624                  Serbia        44
36       471                Slovakia         1
37       977                Slovenia        22
38    126168                   Spain     11947
39      6443                  Sweden       373
40     20505             Switzerland       666
41     23934                  Turkey       501
42      1225                 Ukraine        32
43     41903          United Kingdom      4313